html {

}

body {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

body#brick {
/*	background: #850000 url(images/bgbrick.gif) repeat; */
    background: black;
	}

#map {
	margin-left: auto;
	margin-right: auto;
}